.container {
  display: flex;
}

.box {
  border: 2px solid black;
  height: 300px;
  width: 150px;
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  align-items: flex-end;
}

.contents {
  display: flex;
  border: 2px solid black;
  margin-left: 50px;
  margin-top: 50px;
  height: 400px;
  width: 300px;
  align-items: center;
  justify-content: space-around;
}

.small {
  height: 50px;
  width: 50px;
}

.medium {
  height: auto;
  width: 100px;
  margin-top: 15px;
}

.large {
  height: 220px;
  width: 120px;
}

img {
  cursor: pointer;
  transition: 0.2s;
}

img:hover {
  transform: scale(1.1);
}

.coffeeMount {
  width: 100%;
  background-color: rgba(165, 106, 42, 0.754);
}
